.App-quiz {
  position: absolute;
  top: 98px;
  right: 14px;
  padding: 1.7em;
  min-width: 100px;
  min-height: 130px;
  border-radius: 1rem 0 1rem 1rem;
  background: rgba(0,0,0, .5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1em;
  color: white;
}

.App-quiz > .ui.button {
  margin-bottom: 1em;
}

.App-quiz > .ui.button.App-quiz-close {
  border-radius: 0;
  padding: 4px;
}

.App-quiz-toggle {
  margin-top: 1em;
  border-top: 1px solid white;
}

.App-quiz-toggle-header {
  font-size: 1rem;
  padding: .7em;
}

.ui.tiny.button.App-quiz-close .close.large.fitted.icon {
  line-height: .85;
}

.ui.small.form .ui.radio.checkbox label,
.ui.small.form .ui.radio.checkbox label:hover,
.ui.small.form .ui.radio.checkbox.checked label {
  color: white;
  font-size: 1.1em;
}

.ui.mini.form .ui.radio.checkbox label,
.ui.mini.form .ui.radio.checkbox label:hover,
.ui.mini.form .ui.radio.checkbox.checked label {
  color: white;
  font-size: .8em;
}

.ui.mini.form .field {
  margin: 0.2em;
}

.ui.small.form {
  width: 160px;
  text-align: left;
}

.ui.mini.form {
  width: 130px;
  text-align: left;
}

.ui.small.button.qSubmit {
  margin-left: .5em;
  padding: 9.5px .5em;
}

.ui.small.button.qSubmit-mobile {
  padding: 5px .5em;
}

button.ui.button {
  margin: 0;
}

.quizPrompt {
  position: absolute;
  top: 53px;
  right: 50%;
  transform: translateX(50%);
  padding: .7em;
  border-radius: .5em;
  background: rgba(0,0,0, .5);
  color: white;
  font-size: 1.1em;
  z-index: 2;
}

.quizPrompt div {
  padding: .3em;
}

.quizPrompt form {
  display: flex;
  align-items: center;
}

.quizPrompt .ui.mini.input {
  width: 100%;
}

.quizName {
  font-size: 1.5rem;
  font-weight: bolder;
}

.qFlag {
  position: absolute;
  top: 53px;
  right: 50%;
  transform: translateX(50%);
  border: 1px solid black;
}

.qFlag-mobile {
  position: absolute;
  top: 53px;
  right: 50%;
  transform: translateX(50%);
  border: 1px solid black;
}

