.infoTab {
  position: absolute;
  left: 14px;
  top: 182px;
  text-align: left;
}

.infoTab-flag {
  display: block;
  max-width: 16em;
  max-height: 10em;
  background: white;
  border: 1px solid black;
}

.infoTab-desc {
  background: rgba(0,0,0,.6);
  list-style-type: none;
  padding: .3em;
  color: white;
  line-height: 1.4;
  letter-spacing: 1px;
}
