.App-quiz {
  position: absolute;
  top: 7em;
  right: 1em;
  padding: 1.7em;
  min-width: 100px;
  min-height: 130px;
  border-radius: 3rem 0 3rem 3rem;
  background: rgba(0,0,0, .5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1em;
  color: white;
}

.App-quiz-close {
  position: absolute;
  right: 0;
  top: 0;
}

.App-quiz > .ui.button {
  margin-bottom: 1em;
}

.App-quiz > .ui.button.App-quiz-close {
  border-radius: 0;
  padding: 4px;
}

.ui.tiny.button.App-quiz-close .close.large.fitted.icon {
  line-height: .85;
}

.ui.radio.checkbox label,
.ui.radio.checkbox label:hover,
.ui.radio.checkbox.checked label {
  color: white;
  font-size: 1.1em;
}

.ui.form {
  width: 160px;
  text-align: left;
}

.qInputBox {
  padding: .5em 1em;
}

.qFlag {
  padding: .4em 0;
}

.ui.large.button.qSubmit {
  margin-left: .5em;
  padding: 12.571px .5em;
}

button.ui.button {
  margin: 0;
}