.statusBar {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: all .5s;
  padding: 1em 0;
}

.statusBar-progress {
  position: relative;
  padding-top: 1rem;
  width: 50%;
}

.statusBar-ratio {
  position: absolute;
  right: 1em;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.statusBar-ratio p{
  margin: 0;
}

.statusBar .ui.progress.statusBar-progress:first-child {
  margin: 0
}

.statusBar .ui.progress.statusBar-progress:first-child .bar {
  transition-duration: 1s;
}