.App {
  text-align: center;
  background: #87CEEB;
}

.App-header {
  position: absolute;
  top: 0.25em;
  left: 0.5em;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.App-title {
  margin: 0;
}

*:focus {
  outline: none;
}

footer {
  position: absolute;
  bottom: 0em;
  width: 100%;
  text-align: center;
  z-index: -1;
}

.mapLabel {
  font-family: Roboto, sans-serif;
  fill: white;
  font-size: 0.75em;
  font-weight: 600;
  text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black,
    -1px -1px 1px black;
}

.caribSelector {
  transition: all 0.3s;
}

.dropFade {
  animation: dropFade 0.2s;
}

@keyframes dropFade {
  from {
    opacity: 0;
    transform: translateY(-0.5rem);
  }
  to {
    opacity: 1;
  }
}

.App .ui.fluid.selection .default.text {
  color: black;
  font-weight: bolder;
}

.zoomButtons {
  position: absolute;
  left: 1em;
  top: 4em;
  display: flex;
  flex-direction: column;
  z-index: 4;
}
