.App {
  text-align: center;
}

.App-header {
  background: #63707d;
  color: #fff;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-title {
  font-size: 4em;
}

*:focus {
    outline: none;
}

.App-quiz {
  position: absolute;
  top: calc(150px + 3em);
  left: 50%;
  transform: translateX(-50%);
  background: white;
  width: 300px;
  min-height: 100px;
  border: 1px solid black;
  background: #F0F8FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-quiz-close {
  position: absolute;
  right: 0;
  top: 0;
}