.App {
  text-align: center;
}

.App-header {
  background: #63707d;
  color: #fff;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-title {
  font-size: 4em;
}

*:focus {
    outline: none;
}